body{
	font-size: 10px;
	background: url(images/x/Backgrounds/Desktop/bgd-pattern-blue.png) center top #506e88;
    -webkit-text-size-adjust:none;
}
strong{
	font-weight: bold;
}
#container {
	width: 960px;
	position: relative;
	margin: 0 auto;
	font: 1em/1.6em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

header{
	position: relative;
	width: 1024px;
	margin-left: -32px;
	z-index: 1;
}

header .inline-list,
header .inline-list li{
	margin: 0;
	padding: 0;
	display: inline-block;
	.display:inline;
	.zoom:1;
	vertical-align: top;
}

header .social{
	text-align: right;
	margin-top: 2em;
	margin-left: -5em;
	width: 100%;
}
header .social li{
	height: 2.4em;
	width: 2.4em;
	margin-left: .2em;
}
header .social li img{
	width: 100%;
}
header .quick-links{
	text-align: right;
	width: 100%;
	margin-top: 8.5em;
	margin-left: -4.5em;
}
header .quick-links li a{
	font-size: 1.4em;
	color: #444;
	text-decoration: none;
	display: inline-block;
	.display:inline;
	.zoom:1;
	vertical-align: top;
	padding:.3em .6em !important;
}
header .quick-links a:hover{
	text-decoration: underline;	
}
header .quick-links li a.highlight{
	color: #fff;
	background-color: #4382b9;
	border-radius: .3em;
	behavior: url(PIE.htc);
}
.ads{
	line-height: 1px;
}
.ads ul,.ads li{
	
	margin: 0;
	padding: 0;
	display: inline;
}
.ads img, .ads div{
	width: 935px;
	height: 110px;
	margin: 0 auto;
	display: inline-block;
}
.ads div{
	width: 100%;
	text-align: center;
}
.imgBack{
	background-repeat: no-repeat;
	background-attachment: center center;
}
.sfsearchResultStatistics, .sfsearchResultsWrp{
	padding: 4%;
	font-size: 1.2em;
}
.sfsearchResultsWrp dd{
	padding-bottom: 2%;
}

header .mobile_menu{
	display: none;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.006, #4f4847), to(#857e74));
	background-image: -moz-linear-gradient(90deg, #4f4847 0.6%, #857e74 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#857e74', endColorstr='#4f4847');
	color: #fefffe;
	margin-right: 2em!important;
	letter-spacing: -0.31em; /* webkit */
	*letter-spacing: normal; /* reset IE < 8 */
	word-spacing: -0.43em; /* IE < 8 && gecko */
}
header .mobile_menu li{
	letter-spacing: normal;
	word-spacing: normal;
	font-size: 1.7em !important;
	line-height: 1em !important;
	font-weight: normal;
	padding: 0 .5em;
	font-family: "league-gothic", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	
}
header .mobile_menu li .rtsOut{
	padding: 0!important;
}
header .menu{
	text-align: right;
	font-family: "league-gothic", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	width: 100%;
	margin-top: 1.5em;
	left: 0;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.006, #4f4847), to(#857e74));
	background-image: -moz-linear-gradient(90deg, #4f4847 0.6%, #857e74 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#857e74', endColorstr='#4f4847');
	color: #fefffe;
	margin-right: 2em!important;
	letter-spacing: -0.31em; /* webkit */
	*letter-spacing: normal; /* reset IE < 8 */
	word-spacing: -0.43em; /* IE < 8 && gecko */
	z-index: 2;
	position: relative;
}
header .menu li{
	letter-spacing: normal;
	word-spacing: normal;
	font-size: 2.4em !important;
	line-height: 1em !important;
	font-weight: normal;
}
header .menu li:first-child{
	background: url(images/x/menu-divider.png) no-repeat;
}
header .menu li:last-child{
	margin-right: 2em!important;
}
header .menu a{
	padding: .4em 1.4em!important;
	color: #fff;
	display: inline-block;
	.display: inline;
	.zoom: 1;
	vertical-align: top;
	text-decoration: none;
	background: url(images/x/menu-divider.png) no-repeat right top;
}
.menu ul ul.rsmLevel1{
	display: block;
	position: absolute;
	top:7em;
	left:0;
	font-size: 6px;
	background: black;
	font-family: Arial;
	padding: 2em;
	padding-left: 30em;
	text-align: left;
	display: none;
	width:832px;
}

header .menu ul.rsmLevel1 li:first-child{
	background: none;
}
.menu ul ul.rsmLevel1 li{
	background: none;
	width:18em
}
.menu ul ul.rsmLevel1 a{
	background: url(images/x/sub-arrow.png) no-repeat right center;
}
.menu ul ul.rsmLevel1 a:hover{
	color: #b6d591;
	text-decoration: underline;
	
}
.menu ul ul.rsmLevel1 ul{
	display: none;
}
header .menu a:hover{
	color: #000;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.006, #779650), to(#b6d591));
	background-image: -moz-linear-gradient(90deg, #779650 0.6%, #b6d591 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6d591', endColorstr='#779650');
}
header .menu a.active{
	color:#b5d590;
}
header .search{
	top: 7.5em;
	right: 5em;
	position: absolute;
}

.logo{
	background: url(images/x/Icons/Logos/logo-oscpa-big-banner.png);
	width: 17em;
	height: 22.4em;
	left: 3em;
	top:0;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	position:absolute;
	z-index: 2;
	-webkit-transition: all .2s ease-in;
}

#header_image{
	width: 1024px;
	margin-left: -32px;
	top: 0;
	left: 0;
	z-index: 0;
}
#main_content{
	width: 960px;
	padding: 0 32px;
	position: relative;
	margin-left: -32px;
	
}
#main_content section{
	background: white;
	width: 935px;
	margin: 0 auto;
}
#outer{
	width: 960px;
	padding: 0 32px;
	margin: 0 auto;
	position: relative;
	-moz-box-shadow: 0 0 32px rgba(0, 0, 0, 0.54);
	-webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.54);
	box-shadow: 0 0 32px rgba(0, 0, 0, 0.54);
	
	background-color:#bfcee2;
	background-image: url(images/x/images/background_photos/image-bgd-desktop-bgd-course-catalog.jpg);
	background-repeat: no-repeat;
	background-position: top center;
}

#large-profile{
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-position: outside;
	position: relative;
	z-index: 0;
	height: 30em;
	width: 100%;
	overflow: hidden;
}
#large-profile li{
	margin: 0;
	padding: 0;
	width: 100%;
}

#large-profile li .quote{

	width: 13em;
	padding: .3em .4em;
	font: 5em/1.2em "league-gothic", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	background-color: rgb(68, 130, 185);
	background-color: rgba(68, 130, 185, 0.35);
	position: absolute;
	top: .8em;
	left: 2em;
	z-index: 0;
}
#large-profile li .quote a{
	color: #fff;
	text-decoration: none;
}

#large-profile li .left_quote{
	display: inline-block;
	width: 25px;
	height: 32px;
	position: absolute;
	left: -20px;
	top: 25px;
	background: url(images/x/quotes/text-element-desktop-home-text-begin-quotes.png) no-repeat;
}
#large-profile li .right_quote{
	display: inline-block;
	width: 25px;
	height: 32px;
	position: relative;
	left: 15px;
	top: -5px;
	background: url(images/x/quotes/text-element-desktop-home-text-end-quotes.png) no-repeat;
}

#large-profile .profile-image{
	text-align: right;
	position: relative;
	top: 4em;
	z-index: 1;
	width: 100%;
}
#large-profile .button, .sign_in,.joinus{
	background: -moz-linear-gradient(90deg, #789950 0%, #b4d590 100%) #99ba72;
	background: -webkit-gradient(linear, left bottom, left top, from(#789950), to(#b4d590)) #99ba72;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4d590', endColorstr='#789950');
	color: #4c4544;
	font-size: 1.4em;
	border: 2px solid #fff;
	border-radius: .5em;
	behavior: url(PIE.htc);
	padding: .5em;
	font-weight: bold;
	display: inline-block;
	vertical-align:top;
	position: absolute;
	z-index: 2;
	top: 15em;
	right:18em;
	padding-right: 3em;
	cursor: pointer;
}
#large-profile .button a, .sign_in a,.joinus a{
	color: #4c4544;
	text-decoration: none;
}
.joinus{
	display: none;
}
.sign_in{
	font-size: 1.4em;
	top:0;
	right: 0;
	position: relative;
	padding: .5em .8em;
	margin: 0 1em;
}
.searchBox{
	position: relative;
}
.sfsearchBox input{
	border:1px solid black;
	border-radius:5px;
	behavior: url(PIE.htc);
	padding: .4em;
	font-size: 1.4em;
}
.sfsearchBox input.sfsearchSubmit{
	position: absolute;
	right: 4px;
	top:5px;
	text-indent: -800em;
	width: 2em;
	background: #fff url(images/x/icon-search.png) no-repeat center center;
	border: none;
	height: 25px;
}

.sf_pagerNumeric{
	font-size: .8em;
	padding-left: 4em;
	padding-top: 2em;
	
}


.relatedArticles{
	font-size: 1.4em;
	padding-top: 0em;
}


article.stories .sf_2cols_1_67{
/* 	width:73%!important; */
}
article.stories .sf_2cols_2_33{
/* 	width:27%!important; */
	margin: 0;
	padding-right: 25px;
	box-sizing: border-box;
	padding-left: 8px;
}
article.stories .sf_pagerNumeric a{
	float: left;
	display: inline-block;
	.display:inline;
	.zoom:1;
	vertical-align: top;
	text-decoration: none!important;
	color:#958f87!important;
}
article.stories .sfContentBlock p{
	margin: 0 6%;
}
article.stories .sf_pagerNumeric a.sf_PagerCurrent{
	color: #4c4645!important;
}

#large-profile .button .icon{
	height: 1.5em;
	width: 1.5em;
	display: inline-block;
	background-image: url(images/x/arrow-button-green.png);
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	position: absolute;
	right: .3em;
	top: .3em
}
#large-profile .copy{
	font-size: 1.6em;
	line-height: 1.4em;
	width: 25em;
	position: absolute;
	top: 13em;
	left: 6.2em;
}
#thumbs-holder{
	background-color: #4d4645;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.006, #4f4847), to(#857e74));
	background-image: -moz-linear-gradient(90deg, #4f4847 0.6%, #857e74 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#857e74', endColorstr='#4f4847');
	border-radius: 5px;
	behavior: url(PIE.htc);
	margin: 0 32px;
	padding: 1em 3em 1em;
	position: relative;
}
#thumbs-holder .prev, #thumbs-holder .next{
	position: absolute;
	top: 0;
	height: 22em;
	width: 3em;
	cursor: pointer;
}
#thumbs-holder .prev{	
	left: 0;
	background: url(images/x/next-prev.png) center left no-repeat;
}
#thumbs-holder .next{	
	right: 0;
	background: url(images/x/next-prev.png) center right no-repeat;
}
#thumbs-profile{
	overflow: hidden;
}
#thumbs-profile li{
	display: inline-block;
	.display:inline;
	.zoom:1;
	line-height: 1px;
	vertical-align: top;
	border: 3px solid #333;
	border-radius: 3px;
	behavior: url(PIE.htc);
	margin-right: .5em;
	width: 29em;
	position: relative;
}
#thumbs-profile li img{
	width: 100%;
}
#thumbs-profile li:last-child{
	margin-right: 0;
}

#thumbs-profile li .tagline{
	position: absolute;
	right: 0;
	top: .5em;
	font-size: 2.4em;
	line-height: .7em;
	text-transform: uppercase;
	padding: .4em .8em;
	border-radius: 5px;
	behavior: url(PIE.htc);
	font-family: "league-gothic", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	color: #fff;
}
#thumbs-profile li .tagline.blue{
	background-color: #4483b9;
	background-color: rgba(68, 130, 185, 0.8);
}
#thumbs-profile li .tagline.green{
	background-color: #74954d;
	background-color: rgba(116, 149, 76, 0.8);
}
#thumbs-profile li .tagline.purple{
	background-color: #2e2d7d;
	background-color: rgba(46, 44, 125, 0.8);
}
.thumb-buttons{
	text-align: center;
	padding-top: 1em;
}
.thumb-buttons .button{
	height: 2em;
	width: 1.5em;
	background: url(images/x/dot.png) no-repeat top left;
	display: inline-block;
	.display:inline;
	.zoom:1;
	vertical-align: top;
	margin: 0 .5em;
}
.thumb-buttons .button.selected{

	background: url(images/x/dot.png) no-repeat top right;
}
.endOfLoop{
/* 	opacity: .2; */
}

.content .CTA{
	background: url(images/x/Backgrounds/noise.jpg);
	padding: 3em 4em 2.8em;
}

.CTA a{
	color:#726f6c;
	text-decoration: none;
}
.CTA .sf_2cols_2_33 .sf_2cols_2in_33{
	margin-left: 50px!important;
}
.CTA .action{
	padding: 2em;
	width: 38.6em;
	display: inline-block;
	.display:inline;
	.zoom:1;
	vertical-align: top;
}

.CTA .action:first-child{
	background: url(images/x/cta_divide.png) no-repeat top right;
}
.sfBreadcrumbWrp{
	text-transform: lowercase;
}
.sfBreadcrumbWrp a{
	text-transform: capitalize;
	
}
.action .title{
	display: block;
}
.action h2{
	font: 3.5em/1.2em "league-gothic", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform:uppercase;
	color: #857e74;
	text-shadow: 0 2px 1px #ffffff;
	background: url(images/x/more_info_arrow.png) no-repeat center right;
	display: inline-block;
	.display: inline;
	.zoom: 1;
	vertical-align: top;
	padding-right: 1em;
}
.action .icon, .action .summary{
	display: inline-block;
	.display: inline;
	.zoom: 1;
	vertical-align: top;
	float: left;
}
.action .icon{
	width: 14.2em;
}
.action .icon_adaptive{
	display: none;
}
.action .summary{
	width: 17.2em;
	font-size: 1.4em;
	line-height: 1.4em;
	padding-top: 1em;
	color: #726f6c;
}

.footer_logo{
	background: url('images/x/Icons/Logos/logo-oscpa-desktop-footer.png') no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	width: 3.7em;
	height: 7.7em;
	margin-left: 1.5em;
	margin-top: 1em;
	margin-bottom: 1em;
	display: inline-block;
	.display: inline;
	.zoom: 1;
	vertical-align: top;
}
#main_content footer section{
	width: 855px;
	margin: 0 auto;
	padding: 2em 4em;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.006, #4f4847), to(#857e74));
	background-image: -moz-linear-gradient(90deg, #4f4847 0.6%, #857e74 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#857e74', endColorstr='#4f4847');
}
#main_content footer .divider{
	display: inline-block;
	.display: inline;
	.zoom: 1;
	vertical-align: top;
	width: 0;
	height: 9.5em;
	margin-left: 2.5em;
	border-left: 1px solid #b1aca7;
	border-right: 1px solid #5b5550;
}
#main_content footer .contentSizer{
	width: 52%;
	display: inline-block;
	.display: inline;
	.zoom: 1;
	vertical-align: top;
}
#main_content footer .content{
	display: inline-block;
	.display: inline;
	.zoom: 1;
	vertical-align: top;
	padding: .3em 1em;
	color: #fff;
	font-size: 1.2em;
	
}
#main_content footer .content li {
	padding-left: .6em;
}
#main_content footer .content li.social img {
	padding-top: .3em;
	height: 1.9em;
}
#main_content footer .advertise{
	display: inline-block;
	.display:inline;
	.zoom:1;
	vertical-align: top;
	text-align: right;
	background-image: url(images/x/icon-advertise.png);
	background-repeat: no-repeat;
	background-position: left center;
	height: 6em;
	padding-left: 7em;
	margin-top: 4em;
	width: 27%;
}


#main_content footer a{
	
	color: #c8e0ff;
	
}
#main_content footer .advertise a {
	font: 2.4em/1.3em "league-gothic", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform:uppercase;
	color: #fff;
	background: url(images/x/arrow-white.png) no-repeat center right;
	display: inline-block;
	.display: inline;
	.zoom: 1;
	vertical-align: top;
	padding-right: 1em;
	margin-top: .9em;
}


.landing_menu{
	background: #000;
	margin:0 auto;
	width:90%;
	border-radius: 5px;
	behavior: url(PIE.htc);
	padding: 2em;
}
.landing_menu li{
	width:27em;
	padding: .5em 0!important;
}
.landing_menu .rtsTxt{
	background: url(images/x/sub-arrow.png) no-repeat right center;
	padding-right: 1.5em!important;
	display: inline-block;
	.display:inline;
	.zoom:1;
	vertical-align: top;
}
.landing_menu a{
	text-decoration: none;
	font-size: 1.4em;
	color:#fff;
/* 	background: url(images/x/) */
}
.landing_menu a:hover{
	color: #b6d591;
	text-decoration: underline;
	
}

.cart{
	background: url(images/x/cart.png);
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	height: 42px;
	width:30px;
	margin-top: -.3em;
	display: block;
}

/******************************************************************************
Article stories
******************************************************************************/

article.stories {
	width: 905px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
}


article.stories div.snippet {
	width: 420px;
	padding-left: 15px;
	height: 140px;
	box-sizing: border-box;
	margin: 25px 0 0 0px;
	padding-bottom: 1em;
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding-right: 20px;
}
article.stories .sf_2cols_1_67{
	position: relative;
}

article.stories .sf_2cols_1_67 div.snippet{
	width:290px;
}

article.stories div.snippet div.snippet-text {
	color: #857e75;
	margin-top: 10px;
	font: 1.4em Arial, Helvetica, Geneva, sans-serif;
	position: relative;
	height: 85px;
	max-height: 85px;
	overflow: hidden;
}
article.stories div.dither {
	width: 100%;
	height: 41px;
	position: absolute;
	bottom: 0;
	background-image: url(images/x/pdither.png);
	background-repeat: repeat-x;
	background-position: bottom;
}
article.stories .snippet span.date,
article.stories .snippet a {
	color: #4c4645;
	font-size: 1.4em;
}
article.stories .snippet a {
	font-weight: 600;
	padding-right: 1em;
	cursor: pointer;
}
article.stories a.full-story{
	background: url(images/x/arrow-full-story.png) no-repeat center right;
	float: right;
}

article.stories .sf_2cols_2_33 .right_column_menu{
	padding-left: 3.3em;
}

article.stories .sf_2cols_2_33 .right_column_menu .rsmLink{
	font-size: 1em!important;
	font-weight: normal!important;
	color:#888;
	line-height: 1.6em;
}

article.stories .sf_2cols_2_33 .right_column_menu .rsmLink.active{
	color: #4483b9;
}
article.stories .sf_2cols_2_33 .right_column_menu ul ul{
	display: none;
	font-size: 1.2em!important;
	margin: 0!important;
	padding-bottom: 0.6em!important;
}
.sf_2cols_2in_33 h3{
	padding-top: .5em;
	padding-left: 1.2em!important;
	padding-bottom: .5em;
}
.right_column_menu .has_children .icon{
	width:20px;
	height:1.5em;
	display: inline-block;
	.display:inline;
	.zoom:1;
	vertical-align: top;
	background: url(images/x/arrow-full-story.png) no-repeat 10px 6px;
}
.right_column_menu .has_children.open .icon:first-child{
	vertical-align: top;
/* 	background-color: red; */
}
article.stories span.date {
	font-style: italic;
}
section.content a.additional {
	margin-left: 52%;
}

article.stories.col-3 {
	width: 656px;
	margin: 0;
	display: inline-block;
	vertical-align: top;
}
article.stories.col-3 h2 {
	margin-left: 45px;
}
article.stories.col-3 div.snippet {
	width: 280px;
	margin-left: 45px;
}
.pageTitle{
	padding-top: 3em!important;
}
.pageTitle .sfBreadcrumbNavigation{
	display: none !important;
}
.pageTitle .sfNoBreadcrumbNavigation a, .pageTitle .sfNoBreadcrumbNavigation a:hover{
	font-family: "league-gothic", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif !important;
	font-size: 3.5em!important;
	color: #857e75;
	text-decoration: none;
	text-shadow: 0 2px 1px #fff;
	font-weight: normal;
	text-transform: uppercase;
}
.CTA .sfContentBlock{
	font-size: 1.4em;
	line-height: 1.5em;
	padding-top: 1em;
	color: #857e75;
	padding-left: .4em;
}

.sf_2cols_2_33 .callout{
	text-align: center;
	width:18em;
	font-size: 1.6em;
}

.cpe_title{
		font-family: "league-gothic", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif !important;

	background: #4483b9;
	color: white;
	font-size: 2.4em;
	padding: .5em 1em;
	margin-left: .3em;
	margin-top: 1em;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.relatedCpe{
	margin-left: 3em;
	margin-top: 1em;
}
.relatedCpe a{
	display: block;
}
.CTA .hidden{
	display: none;
}
.relatedCpe .date, .relatedCpe .location{
	width:48%;
	display: inline-block;
	.display:inline;
	.zoom:1;
	vertical-align: top;
	color: #888;
}
.relatedCpe .location{
	text-align:right;
}
.sf_2cols_2in_33 .action {
	text-align: center;
	width: 24em;
}
.sf_2cols_2in_33 .action:first-child{
	background: none!important;
}
.sf_2cols_2in_33 .action .icon{
	float: none;
}
.sf_2cols_2in_33 .action .summary{
	display: none;
}
.sf_2cols_2in_33 .action h2.hidden{
	display: block!important;
}
.sf_2cols_2in_33 .action h2{
	background: none;
	padding: 0;
	font-size: 2.5em;
	display: none;
}
.sfitemsList.sfitemsListTitleDateTmb .sfitemTitle{
	font-size: 1.4em;
	font-family: Arial;
	background: none;
	padding: 1em 0;
	font-style: italic;
	text-transform: none;
}

.sfitemsList.sfitemsListTitleDateTmb .sfitemPublicationDate{
	display: none;
}

.stories .error p{
	color:#ba4444;
	
}
.stories  .error h4{
	color:#ba4444;
	font-size: 2.5em;
	text-transform: uppercase;
	font-family: "league-gothic", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}













/******************************************************************************
Right Column
******************************************************************************/

div.right-column {
	width: 210px;
	padding: 30px 0 0 20px;
	display: inline-block;
	vertical-align: top;
}

@media (min-width:960px){
	#large-profile .button{
		right:18em;	
	}
}

@media (max-width:1024px){
	#outer{
		padding: 0 0px;
		width:100%;
		-moz-box-shadow: 0 0 0px rgba(0, 0, 0, 0.54);
		-webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.54);
		box-shadow: 0 0 0px rgba(0, 0, 0, 0.54);
		overflow: hidden;
	}
	
}

@media (max-width:960px){
	.menu ul ul.rsmLevel1{
		top:5.5em;
		width:100%;
		
	}
	.cpe_title{
		margin-left: -1.1em;
	}
	.relatedCpe{
		margin-left: -1.5em;
	}
	#container{
		width: 100%;
	}
	header{
		width: 100%;
		margin-left: 0;
	}
	#main_content{
		width:100%;
		padding: 0;
		margin: 0;
	}
	.landing_menu{
		width:100%;
		border-radius: 0;
		padding: 1em;
	}
	#header_image{
		width:100%;
		margin: 0;
	}
	header .search{
		right:1em;
	}
	header .quick-links{
		margin-left: -1em;
	}
	
	header .menu li:last-child{
		margin-right: 0!important;
	}
	.RadSiteMap_menu{
		font-size: .8em;
	}
	
	#main_content section{
		width:100%;
		padding: 0;
		margin: 0;
	}
	#main_content footer section{
		width:100%;
		padding: 1em 0;
	}
	article.stories{
		width:100%;
	}
	article.stories div.snippet{
		width:44%;
		margin: 2% 0 0 0;
	}
	.content .CTA{
		padding: 0;
		margin: 0;
	}
	.content .sf_cols{
		padding: 2% 4%;
	}
	.content .stories .sf_cols{
		padding: 2% 0;
	}
	.CTA .action{
		margin: 3% 0% 3% 3%;
		width:46%;
		padding:0;
	}
	.action .icon_adaptive{
		width:20%;
		display: inline-block;
		.display:inline;
		.zoom:1;
		vertical-align: bottom;
	}
	.action .title{
		display: inline;
	}
	.action h2{
		font-size: 2.5em;
		display: inline-block;
		.display:inline;
		.zoom:1;
		vertical-align: bottom;

	}
	.action .icon_adaptive img{
		width:100%!important;
	}
	.action .icon{
		display: none;
	}
	#thumbs-holder{
		margin: 0;
		cursor: pointer;
		border-radius: 0;
	}
	
	#main_content footer .advertise{
		padding-left: 7em!important;
	}
	.logo{
		background: url(images/x/Icons/Logos/logo-oscpa-small-banner.png);
		width: 12em;
		height: 22.4em;
		left: 3em;
		top:0;
		background-size: 100% 100%;
		-webkit-background-size: 100% 100%;
		position:absolute;
		z-index: 2;
	}

	.callout div{
		font-size: 1.4em;
	}
	.sf_pagerNumeric{
		padding-left: 4%;
	}
	#large-profile{
		height:34em;
	}
	#large-profile li .quote{
		width:72%;
		left:1em;
		line-height: 1em;
		top:.5em;
	}
	#large-profile .profile-image{
		text-align: right;
		position: relative;
		top: 7em;
		right:-8em;
		z-index: 1;
		width: 100%;
	}
	#large-profile .copy{
		left:3.2em;
		padding-top: .5em;
	}
	#large-profile .button{
		right:14em;
		top:21em;
		width:auto;
	}
	header .social {
		margin-left: -1.2em;
	}
	.sfBreadcrumbWrp{
		padding-top: 2em;
	}
	.pageTitle{
		padding-top: 1em!important;
	}
	article.stories {
		background-position: 70% 0 !important;
	}
	article.stories .sf_cols div.snippet {
		width: 90%;
		margin: 0;
		padding: 0;
		padding-bottom: 2em;
	}
	article.stories .sf_2cols_2in_33 h3{
		padding-left: 0!important;
	}
	article.stories .sf_2cols_2_33 .right_column_menu {
		padding-left: 0;
	}
	
	article.stories .sf_2cols_2_33 .article_post {
	padding: 0 4% 0 0%!important;
	}
	.popularTitle{
		margin-left: 0!important;
	}
	article.stories .popularArticle a.full-story{
		margin-left: 4%!important;
	}
	.popularArticles{
		margin: 10px 0 0 0px!important;
		padding: 1em!important;
		width: 90%;
	}
	.sf_2cols_2_33 .callout{
		padding-right: 4%;
	}
	article.stories .sf_2cols_2_33 {
		margin: 0;
		padding-right: 45px;
		box-sizing: border-box;
		padding-left: 5px;
	}
}
@media (max-width:810px){
	
	#main_content footer .advertise{
		padding-left: 5em!important;
	}

	#main_content footer .advertise a{
		font-size: 2.2em;
		padding-top: 3px;
	}
	.popularArticles{
		width: 85%;
	}
	.landing_menu li{
		width:24em;
	}
}
@media (max-width:750px){
	.logo{
		left: 1em;
	}
	#main_content footer .advertise{
		width: 100%;
		display: block;
		text-align: left;
		padding-left: 7em!important;
		padding-top: 0;
		margin-top: 0;
		width: 20em;
		margin: 0 auto;
	}
	#main_content footer .contentSizer{
		width: 70%;
	}
	.landing_menu li{
		width:auto;
	}
}
@media (max-width:710px){
	header .menu a {
		padding: .4em .8em!important;
	}
	#large-profile .copy{
		width: 20em;
	}
	header .quick-links li a{
		font-size: 1.2em;
	}
	article.stories  div.snippet {
		width: 90%;
	}
	article.stories {
		background-position: 71% 0 !important;
	}
	article.stories .sf_2cols_2_33 {
margin: 0;
padding-right: 45px;
box-sizing: border-box;
padding-left: 9px;
}
}
@media (max-width:620px){
	header .menu a {
		padding: .4em .4em!important;
	}
	#main_content footer .advertise{
		display: block;
	}
	.action{
		text-align: center;
	}
	.action .icon_adaptive {
		width: auto;
		display: block;
		padding: 2em;
	}
	.action .summary{
		display: none;
	}
	.action h2{
		display: inline;
	}
	.sign_in{
		margin: 0!important;
		margin-left: 1em;
		
	}
}
@media (max-width:560px){
	header .menu a {
		padding: .4em .4em!important;
	}
	#large-profile .button {
		right: 1em;
	}
	#large-profile .quote{
		
	}
	#large-profile .copy, #large-profile  li .left_quote, #large-profile  li  .right_quote{
		display: none;
	}
	#large-profile li .quote {
		left: .5em;
		top: .5em;
		font-size: 3.8em;
		width: 50%;
	}
}

@media (max-width:480px){
	header .menu{
		display: none;
	}
	header .mobile_menu{
		display: block;
		width: 100%;
	}
	.logo{
		background: url(images/x/Icons/Logos/logo-oscpa-small-banner.png);
		width: 6em;
		height: 11.2em;
		left: 1em;
		top:0;
		background-size: 100% 100%;
		-webkit-background-size: 100% 100%;
		position:absolute;
		z-index: 2;
	}
	#thumbs-profile ul{
		height: 9em;
		overflow: hidden;
	}
	#thumbs-profile li .tagline{
		font-size: 1.5em;
		line-height: 1em;
		padding: 3px 0 0 3px;
		top: 0;
		left: 0;
		border-radius: 0;
	}
	#thumbs-profile li{
		width: 130px;
	}
	#thumbs-holder {
		padding: 1em 3em 0em;
	}
	#thumbs-holder .prev, #thumbs-holder .next{
		height: 13em;
	}
	.social{
		margin-top: 1em!important;
	}
	header .search {
		top: 4.3em!important;
		text-align: right;
	}
	.searchBox {
	display: block!important;
	top: .5em;
	}
	.quick-links {
		padding-bottom: 5px!important;
	}
	.quick-links .rsmList{
		display: none!important;
	}
	header .mobile_menu li{
		padding: .2em 0 .2em!important;
	}
	header .mobile_menu li a{
		font-size: inherit!important;
		color: #fff;
	}
	.action h2{
		font-size: 1.7em!important;
		background: none!important;
		padding-right: 0!important;
	}
	#large-profile {
		height: 30em;
	}
	#large-profile .button {
		top: 18em;
	}
	#large-profile .profile-image {
		right: -11em;
	}
	.sf_2cols_1_67,article.stories .sf_2cols_1_67{
		width: 100%!important;
	}
	.sf_2cols_2_33,article.stories .sf_2cols_2_33{
		display: block;
		float: left;
		width: 100%!important;
	}
	article.stories{
		background-image:none !important;
	}
	.article_post{
		padding: 0 2%!important;
	}
	.cart{
		display: none;
	}
	.joinus{
	display: inline-block;
	width: 4.2em;
	top: 0;
	right: 5.5em;
	text-align: right;
	padding: .5em .8em .5em 2em;
	margin: 0;
	background: url(images/x/join.png) no-repeat left center;
	}
}

@media (max-width:320px){
	#thumbs-profile li{
		width: 119px;
	}
}