<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="exceptionManagement" type="Aptify.Framework.ExceptionManagement.ExceptionManagerSectionHandler,AptifyExceptionManagement" />
    <section name="AttributeManagement" type="Aptify.Framework.AttributeManagement.AttributeManagerSectionHandler,AptifyAttributeManagement" />
  </configSections>
  <exceptionManagement mode="on" defaultseverity="0">
    <!--<publisher mode="on" days="3"  exceptionformat="xml" directory="c:\" assembly="AptifyExceptionManagement" type="Aptify.Framework.ExceptionManagement.XMLFilePublisher"/>-->
  </exceptionManagement>
  <AttributeManagement>
    <source mode="on" filename="attributes.xml" assembly="AptifyAttributeManagement" type="Aptify.Framework.AttributeManagement.XMLAttributeSource" />
  </AttributeManagement>
  <appSettings>
    <add key="Aptify.Framework.LoginServices.AptifyLogin.Server" value="srv-sql2.ohio-cpa.com" />
    <add key="Aptify.Framework.LoginServices.AptifyLogin.Trusted" value="True" />
    <add key="Aptify.Framework.LoginServices.AptifyLogin.Password" value="" />
    <add key="Aptify.Framework.LoginServices.AptifyLogin.SQLLogin" value="" />
    <add key="Aptify.Framework.LoginServices.AptifyLogin.UsersDatabase" value="APTIFY" />
    <add key="Aptify.Framework.LoginServices.AptifyLogin.EntitiesDatabase" value="APTIFY" />
    <add key="Startup.GeneralStartup.Version" value="5.0 Service Pack 3" />
    <add key="Startup.GeneralStartup.ScreenImage" value="" />
    <add key="Startup.GeneralStartup.ScreenAlwaysOnTop" value="False" />
    <add key="Startup.GeneralStartup.ScreenTransparency" value="0" />
    <add key="Startup.GeneralStartup.ScreenTextColor" value="Yellow" />
    <add key="Startup.GeneralStartup.AptifyDB.EntityDefinitionsDatabase" value="APTIFY" />
    <add key="Startup.GeneralStartup.DS.PrimaryConnectionName" value="Aptify" />
    <add key="Aptify.Framework.ObjectRepository.AptifyObjectRepository.ContextID" value="1" />
    <add key="Startup.GeneralStartup.SingleInstance" value="True" />
    <add key="Startup.GeneralStartup.ApplicationShell" value="Aptify Shell.exe" />
    <add key="Aptify.Framework.LoginServices.AptifyConnectionState.LastKnownServer" value="" />
    <add key="Aptify.Framework.LoginServices.AptifyConnectionState.LastKnownUser" value="" />
    <add key="Aptify.Framework.LoginServices.AptifyConnectionState.LastKnownConnectionIsTrusted" value="" />
    <add key="Aptify.Framework.LoginServices.AptifyConnectionState.LastKnownServerInstance" value="" />
    <add key="Aptify.Framework.LoginServices.AptifyConnectionState.LastKnownConnectionMode" value="" />
    <add key="Aptify.Framework.LoginServices.AptifyConnectionState.LastKnownConnectionState" value="" />
    <add key="Aptify.Framework.LoginServices.AptifyConnectionState.PreferredConnectionStyle" value="" />
    <add key="Aptify.Framework.LoginServices.AptifyConnectionState.PreferredDefaultServer" value="" />
    <add key="Aptify.Framework.LoginServices.AptifyConnectionState.PreferredConnectionState" value="" />
    <add key="Aptify.Framework.LoginServices.AptifyConnectionState.SynchOnConnect" value="false" />
    <add key="Aptify.Framework.LoginServices.AptifyConnectionState.SynchOnDisconnect" value="false" />
    <add key="Aptify.Framework.LoginServices.AptifyConnectionState.PublisherServer" value="" />
    <add key="Aptify.Framework.LoginServices.AptifyConnectionState.PublisherServerInstance" value="" />
    <add key="Aptify.Framework.LoginServices.AptifyConnectionState.PublisherIsTrusted" value="" />
    <add key="Aptify.Framework.LoginServices.AptifyConnectionState.PublisherUsername" value="" />
    <add key="Aptify.Framework.LoginServices.AptifyConnectionState.SubscriberServer" value="" />
    <add key="Aptify.Framework.LoginServices.AptifyConnectionState.SubscriberServerInstance" value="" />
    <add key="Aptify.Framework.LoginServices.AptifyConnectionState.SubscriberIsTrusted" value="" />
    <add key="Aptify.Framework.LoginServices.AptifyConnectionState.SubscriberUsername" value="" />
    <add key="Aptify.Framework.LoginServices.AptifyConnectionState.RecentServer01" value="" />
    <add key="Aptify.Framework.LoginServices.AptifyConnectionState.RecentServer02" value="" />
    <add key="Aptify.Framework.LoginServices.AptifyConnectionState.RecentServer03" value="" />
    <add key="Aptify.Framework.LoginServices.AptifyConnectionState.RecentServer04" value="" />
    <add key="Aptify.Framework.LoginServices.AptifyConnectionState.RecentServer05" value="" />
    <add key="Aptify.Framework.DataServices.Constants.QueryTimeOut" value="180" />
  </appSettings>
</configuration>