<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title" style="color: #000">
                .NET Web API
        </div>
    </div>
</header>
<div id="body">
 
</div>